<!doctype html>
<html>

<head>
    <title>
        <%=shopName%>
    </title>
</head>

<body>
    <h1>Welcome to <%=shopName%> Shop</h1>
    <h2>This is the search page</h2>
    <form action="/search_result" method="GET">
        Name: <input id="search_box" type="text" name="search_text">
        Category:<input id="category" type="text" name="category">
        <input type="submit" value="OK">
    </form>

</body>

</html>