form {
  font-family: monospace;
  font-weight: 500;
  font-size: medium;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3rem;
  max-width: fit-content;
  margin: 4rem auto;
  background-color: white;
}

body {
  background: linear-gradient(220deg, #c7e4aa, #8aa6cb, #89af82, #81bfd9);
  background-size: 100% 400%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
}

h1 {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  font-family: monospace;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

p {
  font-family: monospace;
  font-weight: 700;
  font-size: medium;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 0 15px;
  text-align: left;
  font-weight: 500;
  font-family: monospace;
  font-size: large;
}

input {
  margin-left: 0.2rem;
}
